# compiled source
*.class

# packages
*.jar

# logs and databases
*.log

# sbt specific
.cache
.history
target/
lib_managed/
src_managed/
project/boot/
.lib/
dist/*
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
